.footer {
	border-top: 1px solid transparent;
	display: flex;
	justify-content: center;
}
.social__items {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
}
.social__item {
	margin-left: 30px;
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 20px;
}
.social__link {
	display: block;
	width: 35px;
	height: 35px;
}
.copyrights_info {
	text-align: center;
	font-size: 14px;
	line-height: 200%;
	letter-spacing: 0.1em;

}
.copyrights__year {
	margin-top: 20px;
	margin-bottom: 50px;
}